.container {
}

.comment {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
}

.repliesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cursorPointer {
  cursor: pointer;
  user-select: none;
}
