.progress-bar {
  max-width: 320px;
  height: 1.5rem;
  background: lightgrey;
  border-radius: 2px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.progress {
  background: #56a3f5;
  transition: transform 0.3s linear;
}

.label,
.labelOverlay {
  font-weight: 500;
}

.label {
  color: #444;
}

.labelOverlay {
  color: white;
  z-index: 2;
  transition: clip-path 0.3s linear;
}
