/* Dialog Component Styles */
.container::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  filter: blur(6px);
}

.container {
  margin: auto;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}
