/* Minimal CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol,
li {
  list-style: none;
}

/* Improve text rendering */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Make images and media easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Reset form elements to inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
}

/* Respect user prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
